/* Reset */
html, body {
    margin: 0;
    padding: 0;
}


/* Custom proprerties */
:root {
    --search-border: #bbb;
    --search-focus-border: #3476e0d5;
}

/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;

}

::placeholder {
    font:inherit
}

:focus {
    outline: 1px solid var(--search-focus-border);
}

/* Layout */
.container {
    padding: 12px;
    height: 100vh;
    max-width: 1000px;
    margin-inline: auto;
    /* border: 2px solid red; */
}

/* Search bar component */

input[type="search"] {
    border: 1px solid var(--search-border);
    padding: 12px;
    border-radius: .5rem;
    transition: width 1s linear; 
}

[type="search"]:focus {
    /* transform-origin: left;
    transform: scale(3, 1); */
    width: 100%;
}   

