/* Reset */
html, body {
    margin: 0;
    padding: 0;
}


/* Custom proprerties */
:root {
    --search-border: #bbb;
    --search-focus-border: #3476e0d5;
}

/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;

}

/* utility class */

/* for accessibility purpose */
.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


/* Layout */

.container {
    height: 100vh;
    margin-inline: auto;
    max-width: 1250px;
    padding: 12px;
}

/* Component input */

input {
    width: 50%;
    line-height: 3;
    padding-inline: 10px;
    border-radius: .2rem;
    border: 1px solid var(--search-border);
    transition: all 250ms ease-in-out;
    /* font: inherit; */
}

input:placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

input:focus {
    width: 100%;
    border: none;
    outline: 2px solid var(--search-focus-border);
}

input:focus::placeholder {
    color: transparent;
}

