/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* colors */
:root {
  --orange: #e15307;
  --white: #ffffff;
  --green: #10af2a;
  --flag-height: 200px;
}

/* Global styles */

body {
  display: grid;
  place-content: center;
  background-color: rgba(128, 128, 128, 0.39);
}

.flag-niger {
  height: 150px;
  width: calc(var(--flag-height) * 7/6);
  background-color: var(--blue);
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.stripe {
  display: grid;
  place-content: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--orange);
}

.flag-niger div:nth-of-type(1) {
  background-color: var(--orange);
}

.flag-niger div:nth-of-type(2) {
  background-color: var(--white);
}

.flag-niger div:nth-of-type(3) {
  background-color: var(--green);
}
